html, body, header, ul, li, section, figure {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #000000;
  color: white;
  min-height: 2000px; }
  body figure.backdrop {
    background-image: url("../images/main_image.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1000; }

.group::after, header::after, header nav::after, #Skills ul.skill-list::after {
  clear: both;
  content: "";
  display: block; }

header {
  background-color: rgba(0, 0, 0, 0.57);
  position: fixed;
  width: 100%;
  font-size: 20px;
  z-index: 1000; }
  header nav {
    margin: auto;
    width: 85%; }
    header nav #logo a {
      padding-top: 14px;
      padding-bottom: 20px;
      font-weight: 100;
      font-size: 30px; }
    header nav .logo-buttons {
      float: left; }
    header nav .nav-buttons {
      float: right; }
    header nav li {
      float: left; }
      header nav li a {
        display: block;
        padding: 20px 20px 26px 20px;
        transition: background-color 0.2s; }
        header nav li a:hover {
          background-color: rgba(168, 168, 168, 0.57); }

section {
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.5); }
  section h1, section h5 {
    text-shadow: 0px 0px 10px black;
    font-weight: 100;
    z-index: 300;
    margin: auto;
    text-align: center; }
  section h1 {
    font-size: 40px;
    margin-bottom: 30px;
    bottom: 40px; }
  section h5 {
    font-size: 15px;
    bottom: 30px; }

#Main {
  height: 600px;
  position: relative;
  background-color: transparent;
  padding: 0; }
  #Main .personal-picture {
    background-image: url("../images/personal_picture.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 170px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50, 0); }
  #Main h1, #Main h5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50, 0); }
  #Main h1 {
    font-size: 55px;
    bottom: 40px; }
  #Main h5 {
    font-size: 20px;
    bottom: 30px; }
  #Main .bar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5); }

#AboutMe h1 {
  font-size: 40px; }

#AboutMe h5 {
  font-size: 15px; }

#AboutMe p {
  font-size: 20px;
  display: block;
  max-width: 700px;
  padding: 0 10px;
  margin: auto; }

#Skills ul.skill-list {
  max-width: 640px;
  margin: auto; }
  #Skills ul.skill-list li {
    background-color: black;
    height: 120px;
    width: 120px;
    margin: 20px;
    float: left; }
