html, body, header, ul, li, section, figure, h1, h5, p {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #000000;
  color: white;
  min-height: 2000px;
  -webkit-font-smoothing: subpixel-antialiased; }
  body figure.backdrop {
    background-image: url("../images/main_image.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1000; }

.group::after, header::after, header nav::after, #Skills ul.skill-list::after, #Projects ul.project-list li::after, #ContactMe ul.contact-list::after {
  clear: both;
  content: "";
  display: block; }

header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  font-size: 20px;
  z-index: 1000; }
  header nav {
    margin: auto;
    width: 85%; }
    header nav #logo a {
      padding-top: 14px;
      padding-bottom: 20px;
      font-weight: 100;
      font-size: 30px; }
    header nav .logo-buttons {
      float: left; }
    header nav .nav-buttons {
      float: right; }
    header nav li {
      float: left; }
      header nav li a {
        display: block;
        padding: 20px 20px 26px 20px;
        transition: background-color 0.2s; }
        header nav li a:hover {
          background-color: rgba(168, 168, 168, 0.57); }

body > section {
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.6); }
  body > section h1, body > section h5 {
    text-shadow: 0px 0px 10px black;
    font-weight: 100;
    z-index: 300;
    margin: auto;
    text-align: center; }
  body > section h1 {
    font-size: 40px;
    margin-bottom: 30px;
    bottom: 40px; }
  body > section h5 {
    font-size: 15px;
    bottom: 30px; }

#Main {
  height: 500px;
  position: relative;
  padding: 0;
  background-color: transparent;
  padding-bottom: 200px;
  background-color: rgba(0, 0, 0, 0.6); }
  #Main figure.main-image {
    background-image: url("../images/main_image_clear.jpg");
    background-size: cover;
    display: block;
    position: relative;
    margin: auto;
    height: 440px; }
  #Main .personal-picture {
    background-image: url("../images/joshua-weiss.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 170px;
    border-radius: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0); }
  #Main h1, #Main h5 {
    margin: 30px auto; }
  #Main h1 {
    font-size: 55px;
    bottom: 40px; }
  #Main h5 {
    font-size: 20px;
    bottom: 30px; }

#AboutMe h1 {
  font-size: 40px; }

#AboutMe h5 {
  font-size: 15px; }

#AboutMe p {
  font-size: 20px;
  display: block;
  max-width: 700px;
  padding: 0 10px;
  margin: auto; }

#Skills ul.skill-list {
  max-width: 640px;
  margin: auto; }
  #Skills ul.skill-list li {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 120px;
    width: 120px;
    margin: 20px;
    float: left;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
    border: 10px solid transparent; }
  #Skills ul.skill-list li::after {
    display: block;
    position: absolute;
    content: attr(data-label);
    width: 300px;
    text-align: center;
    left: 50%;
    bottom: -45%;
    font-weight: 100;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }

#Projects ul.project-list {
  max-width: 640px;
  margin: auto;
  color: #404040; }
  #Projects ul.project-list li {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7); }
    #Projects ul.project-list li figure {
      width: 300px;
      height: 200px;
      float: left;
      background-size: cover;
      margin: 20px 0 20px 20px;
      position: relative; }
      #Projects ul.project-list li figure:hover::after {
        display: block;
        position: absolute;
        z-index: 900;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4); }
      #Projects ul.project-list li figure:active {
        top: 2px; }
    #Projects ul.project-list li section.project-info {
      padding: 20px;
      width: 260px;
      display: block;
      float: left; }
      #Projects ul.project-list li section.project-info h2 {
        margin: 0;
        margin-bottom: 6px;
        position: relative;
        top: -4px;
        font-weight: 300; }
        #Projects ul.project-list li section.project-info h2:hover {
          color: #8e8e8e; }
        #Projects ul.project-list li section.project-info h2:active {
          top: -2px; }

#ContactMe ul.contact-list {
  margin: auto;
  width: 530px; }
  #ContactMe ul.contact-list li {
    margin: auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    margin: 10px;
    position: relative;
    transition: box-shadow 0.4s, top 0.4s; }
    #ContactMe ul.contact-list li a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    #ContactMe ul.contact-list li:hover {
      top: -2px;
      transition: none;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4); }
    #ContactMe ul.contact-list li:active {
      top: 4px; }

.ruby-logo {
  background-image: url("../images/Ruby_logo.png"); }

.rails-logo {
  background-image: url("../images/rails_logo.svg"); }

.rspec-logo {
  background-image: url("../images/rspec_logo.png"); }

.git-logo {
  background-image: url("../images/git_logo.svg"); }

.jquery-logo {
  background-image: url("../images/jquery_logo.svg"); }

.js-logo {
  background-image: url("../images/js_logo.svg"); }

.html-logo {
  background-image: url("../images/html5_logo.svg"); }

.backbone-logo {
  background-image: url("../images/backbone_logo.png"); }

.css-logo {
  background-image: url("../images/css3_logo.svg"); }

.postgresql-logo {
  background-image: url("../images/postgresql_logo.svg"); }

.swift-logo {
  background-image: url("../images/swift_logo.png"); }

.c-plus-plus-logo {
  background-image: url("../images/CPlusPlus_logo.png"); }

.quiz-czar-snapshot {
  background-image: url("../images/QuizCzar1.png"); }

.linked-in-logo {
  background-image: url("../images/In-2CRev-128px-TM.png");
  border-radius: 10px; }

.git-hub-logo {
  background-color: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
  border: 8px solid transparent;
  border-radius: 10px;
  background-image: url("../images/Octocat.png"); }

.email-logo {
  background-color: rgba(255, 255, 255, 0.95);
  box-sizing: border-box;
  border: 40px solid transparent;
  background-position: center;
  border-radius: 10px;
  background-image: url("../images/email_logo.svg"); }
