// out: ../css/main.css
///rgb(226, 58, 6)
$background_color: #000000;
$bar_color: rgba(#000000, 0.57);
$hover_bar_color: rgba(#a8a8a8, 0.57);

html, body, header, ul, li, section, figure, h1, h5, p{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: $background_color;
  color: rgb(255, 255, 255);
  min-height: 2000px;
  -webkit-font-smoothing: subpixel-antialiased;

  figure.backdrop {
    background-image: url("../images/main_image.jpg");
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1000;
  }

}


.group::after {
  clear: both;
  content: "";
  display: block;
}

header {
  @extend .group;
  background-color: $bar_color;
  position: fixed;
  width: 100%;
  font-size: 20px;
  z-index: 1000;

  nav {
    @extend .group;
    margin: auto;
    width: 85%;

    #logo {
      a {
        padding-top: 14px;
        padding-bottom: 20px;
        font-weight: 100;
        font-size: 30px;
      }
    }

    .logo-buttons {
      float: left;
    }

    .nav-buttons {
      float: right;
    }

    li{
      float: left;
      a {
        display: block;
        padding: 20px 20px 26px 20px;
        transition: background-color 0.2s;
        &:hover {
          background-color: $hover_bar_color;
        }
      }
    }
  }

}

body > section{
  padding: 100px 0;
  background-color: rgba(0, 0, 0, 0.5);

  h1, h5 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    font-weight: 100;
    z-index: 300;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 30px;
    bottom: 40px;
  }

  h5 {
    font-size: 15px;
    bottom: 30px;
  }


}


#Main {
  height: 600px;
  position: relative;
  background-color: transparent;
  padding: 0;

  .personal-picture {
    background-image: url("../images/personal_picture.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 170px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }

  h1, h5 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }

  h1 {
    font-size: 55px;
    bottom: 40px;
  }

  h5 {
    font-size: 20px;
    bottom: 30px;
  }

  .bar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
  }

}


#AboutMe {

  h1 {
    font-size: 40px;
  }

  h5 {
    font-size: 15px;
  }


  p {
    font-size: 20px;
    display: block;
    max-width: 700px;
    padding: 0 10px;
    margin: auto;
  }
}

#Skills {

  ul.skill-list {
    @extend .group;
    max-width: 640px;
    margin: auto;
    li {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 120px;
      width: 120px;
      margin: 20px;
      float: left;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.7);
      border: 10px solid transparent;;
    }
    li::after {
      display: block;
      position: absolute;
      content: attr(data-label);
      width: 300px;
      text-align: center;
      left: 50%;
      bottom: -45%;
      font-weight: 100;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
  }

}

#Projects {
  ul.project-list {
    max-width: 640px;
    margin: auto;
    color: rgb(60, 60, 60);
    li {
      @extend .group;
      margin-bottom: 30px;
      figure {
        width: 300px;
        height: 200px;
        float: left;
        background-size: cover;
        margin: 20px 0 20px 20px;
      }
      section.project-info{
        padding: 20px;
        width: 260px;
        display: block;
        float: left;

        h2 {
          margin: 0;
          margin-bottom: 6px;
          position: relative;
          top: -4px;
          font-weight: 300;
        }
      }
      background-color: rgba(255, 255, 255, 0.7);
    }

  }
}

#ContactMe {
  ul.contact-list {
    @extend .group;
    margin: auto;
    width: 530px;
    li {
      margin: auto;
      width: 150px;
      height: 150px;
      background-size: cover;
      background-repeat: no-repeat;
      float: left;
      margin: 10px;
      position: relative;
      a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}






.ruby-logo {
  background-image: url("../images/Ruby_logo.png");
}

.rails-logo {
  background-image: url("../images/rails_logo.svg");
}

.rspec-logo {
  background-image: url("../images/rspec_logo.png");
}

.git-logo {
  background-image: url("../images/git_logo.svg");
}

.jquery-logo {
  background-image: url("../images/jquery_logo.svg");
}

.js-logo {
  background-image: url("../images/js_logo.svg");
}

.html-logo {
  background-image: url("../images/html5_logo.svg");
}

.backbone-logo {
  background-image: url("../images/backbone_logo.png");
}

.css-logo {
  background-image: url("../images/css3_logo.svg");
}

.postgresql-logo {
  background-image: url("../images/postgresql_logo.svg");
}

.swift-logo {
  background-image: url("../images/swift_logo.png");
}

.c-plus-plus-logo {
  background-image: url("../images/CPlusPlus_logo.png");
}


.quiz-czar-snapshot {
  background-image: url("../images/QuizCzar1.png");
}

.linked-in-logo {
  background-image: url("../images/In-2CRev-128px-TM.png");
}

.git-hub-logo {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  border: 8px solid transparent;
  border-radius: 10px;
  background-image: url("../images/Octocat.png");
}

.email-logo {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  border: 40px solid transparent;
  background-position: center;
  border-radius: 10px;
  background-image: url("../images/email_logo.svg");
}
